.dark-bg { background: #F90012}
.medium-bg { background: #F90012}
.light-bg { background: #A7000C}

/* comment */

.dark-txt { color: Gold}
.medium-txt { color: Gold}
.light-txt { color: Gold}

body {
  padding: 0;
  margin: 0
}
nav ul {
  list-style-type: none;
  padding-left: 0;
}
nav a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: green
}
