.dark-bg { background: #000C55}
.medium-bg { background: #000C55}
.light-bg { background: #001076}

/* comment */

.dark-txt { color: Gold}
.medium-txt { color: #A6A500}
.light-txt { color: Gold}

body {
  padding: 0;
  margin: 0
}
nav ul {
  list-style-type: none;
  padding-left: 0;
}
nav a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: white
}

.active {text-emphasis: bold}
.gallery {display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #CCCCCC;
}
.clear { clear: both;}
.gallery ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.gallery li {
  border: 1px solid #CCCCCC;
  display: block;
}
img {max-width: 100%}
.gallery li {
  border: 1px solid #CCCCCC;
  display: block;
