#links {display:none}
.image-bg { background-image: url("/Users/Malexarell/Documents/GitHub/malex19.github.io/malex19.github.io/hw/assignment_5/gallery/pictures/Sorrento_large.jpg");
background-size: cover;
background-repeat: repeat;
background-position: center; }

.title {display: block}
.text {color: whites}
.box_textshadow {
  text-shadow: 1px 1px 3px #000;
  color: white; /* Chrome, Firefox 3.5+, IE 10+, Opera 9+, Safari 1+ 
}
/* */
